@import 'base','varable','header','footer';
.container{
	padding:2% 5%;
  width:100%;
  height:auto;
  overflow:hidden;
  background-color:$colorWhite;
  nav{
    width:100%;
    height:auto;
    overflow:hidden;
    ul{
      display:-webkit-flex;
      display:flex;
      li{
        margin:10px 20px;
        padding:10px 0;
        border:1px solid #ccc;
        border-radius:5px;
        -webkit-flex:1;
        flex:1;
        background-color:$colorAeee;
        a{
          margin:0 auto;
          width:160px;
          height:160px;
          display: block;
          font:bold 24px/150px $publicFont;
          text-align:center;
          background-color:#f1e05a;
          border-radius:100%;
          text-decoration:none;
          color:$colorWhite;
          @include transition(all .5s);
          text-transform:uppercase;
        }
        &:hover{
          box-shadow:5px 0 10px rgba(0,0,0,.1),-5px 0 10px rgba(0,0,0,.1),0 5px 10px rgba(0,0,0,.1),0 -5px 10px rgba(0,0,0,.1);
          a{
            @include transform(rotate(360deg));
          }
        }
        &:first-child{
          margin-left:10px;
        }
        &:last-child{
          margin-right:10px;
        }
      }
    }
  }
  .describe{
    padding:10px;
    p{
      margin-bottom:10px;
      font:14px/1.2 $publicFont;
      color:$colorBlack;
    }
  }
  .title{
    font:14px/30px $publicFont;
    color:$colorBlack;
    border-bottom:1px solid #ccc;
  }
  .content{
    height:600px;
  }
}
