<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="description" content="bandow-前端工程师黑科技技术分享以及分解"/>
<meta name="keywords" content="bandow-前端工程师黑科技技术分享以及分解""/>
<meta name="author" content="name, sycbbb@sina.com"/>
<meta name="robots" content="index,follow"/>
<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no, email=no,adress=no"/>
<meta name="msapplication-tap-highlight" content="no">
<title>web前端工程师之黑科技-前端技术</title>
</head>
<body>
<!--wrapper begin-->
<div class="wrapper">
	<!--header begin-->
	<header class="header"><h1>web前端工程师之黑科技-前端技术</h1></header>
	<!--header end-->
	<!--container begin-->
	<div class="container">
	    <nav>
	    	<ul>
	    	    <li>
	    			<a href="#html">html</a>
	    			<div class="describe">
                      <p>html超文本标记语言，标准通用标记语言下的一个应用。</p>
                      <p>“超文本”就是指页面内可以包含图片、链接，甚至音乐、程序等非文字元素。</p>
                      <p>超文本标记语言的结构包括“头”部分（英语：Head）、和“主体”部分（英语：Body），其中“头”部提供关于网页的信息，“主体”部分提供网页的具体内容。</p>
	    			</div>
	    		</li>
	    		<li>
	    			<a href="#css">css</a>
	    			<div class="describe"></div>
	    		</li>
	    		<li>
	    			<a href="#javascript">javascript</a>
	    			<div class="describe"></div>
	    		</li>
	    		<li>
	    			<a href="#php">php</a>
	    			<div class="describe"></div>
	    		</li>
	    		<li>
	    			<a href="#mySQL">mySQL</a>
	    			<div class="describe"></div>
	    		</li>
	    	</ul>
	    </nav>
	    <div id="html">
	    	<h2 class="title"><i></i>html黑科技技术</h2>
	    	<div class="content"></div>
	    </div>
	    <div id="css">
	    	<h2 class="title"><i></i>css黑科技技术</h2>
	    	<div class="content"></div>
	    </div>
	    <div id="javascript">
	    	<h2 class="title"><i></i>javascript黑科技技术</h2>
	    	<div class="content"></div>
	    </div>
	    <div id="php">
	    	<h2 class="title"><i></i>php黑科技技术</h2>
	    	<div class="content"></div>
	    </div>
	    <div id="mySQL">
	    	<h2 class="title"><i></i>mySQL黑科技技术</h2>
	    	<div class="content"></div>
	    </div>
	</div>
	<!--container end-->
	<img src="../images/4.jpg" alt="">
	<!--footer begin-->
	<footer class="footer"><p>© bandow 中文网 2017</p></footer>
	<!--footer end-->
</div>
<!--wrapper end-->
</body>
</html>